/******主导航*******/
.nav{
	width: 1190px;
	height: 42px;
	margin: 0 auto;
	
	margin-top: 20px;
	
}
.nav ul{
	width: 1190px;
	height: 42px;
	background-color: #ff7800;
}
.nav ul .first{
	width: 200px;
	height: 42px;
	background-color: #1d7bd8;
	text-align:center ;
}
.nav ul .first a{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #F2F2F2;
	line-height: 42px;
}	
.nav li{
	width: 145px;
	height: 42px;
	background-color: #ff7800;
	text-align:center ;
}
.nav li a{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #F2F2F2;
	line-height: 42px;
}
 .nav ul .current{
	background-color: #f15600;
}
.nav ul li:hover{
	background-color: #f15600;
}
.nav ul li strong{
	display: inline-block;
	width: 26px;
	height: 16px;
	background: url(../images/ico/whole.png) no-repeat -148px 0 ;
	padding-left: 10px;
	
}
/*******banner*********/
.comban{
	width: 100%;
	height: 420px;
	margin-top: 20px;
	background-color: #f5eddb;
	
}
.comban .img a{
	display:block;
	width: 1190px;
	height: 420px;
	margin: 0 auto;
	position: absolute;
}
.comban .bgimg{
	
	width: 1190px;
	height: 420px;
	
	background:url(../images/company/-banner1.jpg) no-repeat;
}

.erar{
	width: 1190px;
	height: 420px;
	margin: 0 auto;
	padding-top: 10px;
	position: relative;
	
}
.erar .comer{
	width:200px ;
	height: 400px;
	background-color: #1d7bd8;
	
}
.erar .comer dl{
	
	width: 180px;
	height: 80px;
	margin: 0 auto;
	border-bottom: 1px solid #999;
	margin-top: 20px;
	
}
.erar .comer dl dt{
	margin-bottom: 10px;
}
.erar .comer dl dt a{
	font-size: 16px;
	color: #FFFFFF;
	line-height: 20px;

}
.erar .comer dl dd a{
	font-size: 12px;
	color: #FFFFFF;
	line-height: 20px;
	
}



.erar .comright{
	width: 190px;
	height: 400px;
	
	
}
.erar .comright dl{
	width: 190px;
	height: 200px;
	background-color: #fff;
	margin-bottom:10px ;
}
.erar .comright dl dt{
	width: 160px;
	height: 160px;
	margin:  0 auto;
}
.erar .comright dl dt img{
	width: 160px;
	height: 160px;
	
	
}
.erar .comright dl dd{
	width: 160px;
	height: 160px;
	margin:  0 auto;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 40px;
}

/******快点抢******/
.fast{
	width: 1190px;
	height: 55px;
	margin: 0 auto;
}
.fast strong{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/ico/whole.png) no-repeat -167px -236px;
	margin-top: 15px;
}
.fast span{
	display: inline-block;
	font-size: 20px;
	line-height: 55px;
	color: #5b1f35;
	margin-left: 15px;
}
.fastgoods{
	width: 1190px;
	height: 352px;
	margin: 0 auto;
}	
.fastgoods dl{
	width: 220px;
	height: 350px;
	margin: 0 auto;
	margin-right: 20px;
	border: 1px solid #999;
}
.fastgoods dl:last-of-type{
	margin-right: 0;
}
.fastgoods dl dt{
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-top: 15px;
}
.fastgoods dl dt img{
	width: 200px;
	height: 200px;
	
}
.fastgoods dl dd{
	width: 200px;
	margin: 0 auto;
	display: block;
	
}
.fastgoods dl dd a{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	line-height: 30px;
	
}
.fastgoods dl dd strong{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999;
}
.fastgoods dl dd b{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ff7800;
}	
.fastgoods dl dd .midline{
	text-decoration: line-through;
}
.fastgoods dl .bgcolor{
	width: 200px;
	margin: 0 auto;
	
	margin-top: 30px;
}
.fastgoods dl dd .bimg{
	width: 30px;
	height: 25px;
	
	background: url(../images/ico/whole.png) no-repeat -127px -236px;
}
.fastgoods dl .bgcolor span{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999;
	
}
.fastgoods dl .bgcolor strong{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #ff7800;
}
.fastgoods dl  .input{
	display: inline-block;
	width: 200px;
	height: 28px;
	margin: 0 auto;
	margin-top: 5px;
	background-color: #b71e36;
	border: 1px solid #b71e36;
	border-radius: 8px;
	font-family: "微软雅黑";
	line-height: 26px;
	font-size:14px ;
	color: #FFF;
}
/********办公用品*********/