body{
	background-color: #ffffff;
	color: #000000;
	font-family: "微软雅黑";
	font-size: 14px;
}

a{
	text-decoration: none;
	color: #000000;
}

}

ul{
	padding: 0;
	margin: 0;
}

ul li{
	list-style: none;
}


.left{
	float: left;
}

.right{
	float: right;
}

.clear:after{
	display: block;
	content: "";
	clear: both;
}



/*style*/

.top-1{line-height: 40px;
       width: 1190px;
       margin: 0 auto;
       }
.top-1-left{line-height: 16px;
            margin-top: 12px;
            }
.see{margin-right: 6px;}
.weibo{display: inline-block; 
       width: 16px;
       height: 16px;
       background: url(../img/ico/jingling.png) no-repeat 0 0;
       margin-right: 7px;
       }
.renren{display: inline-block; 
        width: 16px;
        height: 16px;
        background: url(../img/ico/jingling.png) no-repeat -21px 0;
        margin-right: 7px;
        }
.weixin{display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../img/ico/jingling.png) no-repeat -42px 0;
        }
/*top right st*/
.top-1-right a{margin-right: 5px;
               line-height: 16px;
               margin-top: 12px; 
               }
.top-1-right .myorder{display:inline-block;
              width:16px;
              height:14px; 
              background:url(../img/ico/jingling.png) no-repeat -64px 0;
              margin-right: 3px;
              }
.top-1-right .favorite{display:inline-block;
             width:16px; 
             height:14px; 
             background:url(../img/ico/jingling.png) no-repeat -84px 0;
             margin-right: 3px;
             }
.top-1-right .gm{display:inline-block; 
                 width:16px; 
                 height:14px; 
                 background:url(../img/ico/jingling.png) no-repeat -107px 0; 
                 margin-right: 3px;
                 }
.top-1-right .gmtel{display:inline-block; 
                    width:16px;
                    height:14px;  background:url(../img/ico/jingling.png) no-repeat -127px 0;
                    margin-right: 3px; }
/* topad*/ 
.top-2 a{ display:block; 
          background:url(../img/add/topadd.jpg) no-repeat center top; 
          height:70px;}
/*top 3*/
.top-3{
width: 1190px;
height: 120px;
margin:  0 auto;}
.top-3 h1{width: 193px;
          height: 78px;
          line-height: 120px;}
.top-3 .rearch{
width: 510px;
height: 120px;
margin-left: 158px;
margin-top: 31px;}
.top-3 div input:first-child{
width: 395px;
height: 38px;
color: #666;
border: 2px solid #ff7800;
padding-left: 8px;
} 
.top-3 div input:last-child{
width: 92px;
height: 44px;
background-color: #ff7800;
border: 2px solid #ff7800;
margin-left: -4px;
}
.top-3 .word{margin-bottom: 4px;}
.top-3 .word a{
font-size:12px ;
margin-right: 8px;
color: #999;


} 

.top-3 .word a:hover{
color: #ff7800;} 
.top-3 .allcar{
width: 178px;
height: 42px;
margin-top: 31px;
}
.top .carword{
width: 117px;
height: 42px;
background-color: #1d7bd8;
border-right: 1px solid #0053ad;

}
.top-3 .car{
background:url(../img/ico/jingling.png) no-repeat -185px 0; width:23px; height:20px; float:left; margin-top:12px; margin-right:7px;
margin-right: 15px;
margin-left: 15px;
}
.top-3 .shop{
font-size: 18px;
line-height: 42px;
color: #ffffff;
}

.top-3 .num{width: 59px;
height: 42px;
background-color: #1d7bd8;
border-left: 1px solid #4c9cea;}
.top-3 .number{
display: inline-block;
font-size: 18px;
line-height: 42px;
color: #ffffff;
padding-left:20px ;

}

/* 底部   */
.foot{
    wiwidth: 100%;
    height: 227px;
    background-color: #f5f5f5;}
.foot .box{
    width: 1190px;
    height: 227px;
    margin:  0 auto; } 
.foot .box .nan{float:left; background:url(../img/ico/jingling.png) no-repeat 0px -28px; width:49px; height:40px; margin-right:10px;}
.foot .box .fang{float:left; background:url(../img/ico/jingling.png) no-repeat -62px -28px; width:49px; height:40px; margin-right:10px;} 
.foot .box .fu{float:left; background:url(../img/ico/jingling.png) no-repeat -120px -28px; width:49px; height:40px; margin-right:10px;}
.foot .box .hou{ float:left; background:url(../img/ico/jingling.png) no-repeat -177px -28px; width:49px; height:40px; margin-right:10px;}
.foot .box .xin{float:left; background:url(../img/ico/jingling.png) no-repeat -233px -28px; width:49px; height:40px; margin-right:10px;}           
.foot dl{
width:170px ;
margin-right: 80px;

}
.foot dl:last-of-type{
margin-right: 0;}
.foot dl dt span{
font-size: 16px;
color: #666;

}

.foot dl dd a{
color: #999;
line-height: 30px;
}
.foot .power {
width: 1190px;

}
.foot .power p a{
font-size: 14px;
color: #666;
}
.foot .power p{
line-height: 18px;
color: #666;
text-align: center;}




